<br>
<div *ngIf="innerWidth > 1000" fxLayout="column" fxLayoutGap="25px" class="shadow-retangle">
  <span class="client-name">Olá!</span>
  <span class="intro">Está preparado para saber mais como automatizar o seu atendimento nas redes sociais?</span>
</div>

<div *ngIf="innerWidth < 1000" fxLayout="column" fxLayoutGap="25px" class="shadow-retangle-phone">
  <br>
  <span class="client-name">Olá!</span>
  <span class="intro">Está preparado para saber mais como automatizar o seu atendimento nas redes sociais?</span>
</div>
<br>
