.background {
  background: linear-gradient(130deg, rgba(255, 151, 175, 1) 0%, rgba(226, 176, 240, 1) 26%, rgba(189, 202, 239, 1) 63%, rgba(32, 245, 224, 1) 100%);
}

.center-retangle {
  background-color: white;
  padding: 20px;
  width: 60%;
  max-width: 770px;
}

.stepper {
  width: 100%;
}

.spacer {
  flex: 1 1 auto
}

::ng-deep .mat-horizontal-stepper-header {
  pointer-events: none !important;
}

::ng-deep .mat-stepper-label-position-bottom .mat-horizontal-stepper-header .mat-step-icon {
  width: 40px;
  height: 40px;
  font-size: 50px;
}

.button {
  font-family: arcon;
  background-color: #5698fc;
  color: white;
  border-radius: 0px;
  width: 120px;
  line-height: 35px;
}
