<div fxLayout="column" fxLayoutAlign="center center" class="background" style="padding: 80px;">
  <br>
  <span style="font-size:32px; color: white;">SELECIONE SEUS MÓDULOS</span>
  <br>
  <br>
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="0px"
      style="height: auto; background-color: white; box-shadow: 3px 7px 7px #505050;"
      *ngFor="let m of modulesService.modules">
      <img [src]="m.ssimage" style="width: 400px;">
      <div fxLayout="column" fxLayoutAlign="center center" style="width: 300px; text-align: center; padding: 20px "
        fxLayoutGap="20px">
        <span style="font-size: large;">{{m.title}}</span>
        <span>{{m.description}}</span>
        <button mat-button class="button">Selecionar</button>
      </div>
    </div>

  </div>
  <br>
  <br>
  <button mat-button class="button" (click)="next()">Prosseguir</button>
  <mat-toolbar class="toolbar">
    <span style="color: white">Módulos</span>
    <div class="spacer"></div>
    <img src="../../../assets/logo-anotaAI-horizontal-white.svg" style="height: 90%;">
  </mat-toolbar>
</div>
