<div class="card-retangle" fxLayout="column" fxLayoutGap="25px">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="25px" class="title">
    <mat-icon class="icon">add</mat-icon>
    <span class="text">Semestral</span>
  </div>
  <div class="price-form">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
      <span class="brl">R$</span>
      <span class="price">800</span>
      <span class="cycle">p/ mês</span>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <button mat-stroked-button class="select-button">Selecionar</button>
  </div>
  <div class="divider"></div>
  <span style="text-align: center; color: rgb(228, 228, 228);">Valor total a vista: R$800</span>
</div>
